## Ejemplo 7: Análisis Exploratorio de Datos

### 1. Objetivos:
    - Aprender las herramientas básicas para darle un primer vistazo a los datos que tenemos en nuestros `DataFrames`
 
---
    
### 2. Desarrollo:

In [2]:
import pandas as pd
import json

Ok, tenemos aquí nuestro conjunto de datos del Ejemplo pasado:

In [3]:
# creamos el objeto a leer
f = open('../../Datasets/zomato_reviews-clean.json', 'r')
json_data = json.load(f)
f.close()

In [4]:
# creamos el dataframe como en el ejemplo 6
df = pd.DataFrame.from_dict(json_data)

In [5]:
df

,has_online_delivery,price_range,currency,name,cuisines,location.address,location.city,user_rating.rating_text
0,1,3,Rs.,Hauz Khas Social,"Continental, American, Asian, North Indian","9-A & 12, Hauz Khas Village, New Delhi",New Delhi,Very Good
1,0,3,Rs.,Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...","C-7, Vishal Enclave, Opposite Metro Pillar 417...",New Delhi,Excellent
2,1,2,Rs.,The Hudson Cafe,"Cafe, Italian, Continental, Chinese","2524, 1st Floor, Hudson Lane, Delhi University...",New Delhi,Very Good
3,0,3,Rs.,Summer House Cafe,"Italian, Continental","1st Floor, DDA Shopping Complex, Aurobindo Pla...",New Delhi,Very Good
4,0,3,Rs.,38 Barracks,"North Indian, Italian, Asian, American","M-38, Outer Circle, Connaught Place, New Delhi",New Delhi,Very Good
...,...,...,...,...,...,...,...,...
1175,0,3,£,The Boozy Cow,"Burger, Grill","17 Frederick Street, New Town, Edinburgh EH2 2EY",Edinburgh,Very Good
1176,0,3,£,La Favorita,Italian,"325-331 Leith Walk, Leith, Edinburgh EH6 8SA",Edinburgh,Excellent
1177,0,3,£,Roseleaf Bar Cafe,"Scottish, Cafe","23-24 Sandport Place, Leith, Edinburgh EH6 6EW",Edinburgh,Excellent
1178,0,3,£,Civerinos,"Pizza, Italian","5 Hunter Square, Royal Mile, Old Town, Edinbur...",Edinburgh,Good
1179,0,3,£,The Hanging Bat,American,"133 Lothian Road, Old Town, Edinburgh EH3 9AD",Edinburgh,Good

Podemos saber la forma (i.e las dimensiones) de nuestro `DataFrame` accediendo a la propiedad `shape`. El primer valor es el número de filas, mientras que el segundo es el número de columnas:

In [5]:
df.shape

(1180, 8)

Podemos ver un número determinado de filas comenzando desde el principio con `head`:

In [6]:
# para solo ver los primeros 5 renglones del dataframe
df.head(5)

,has_online_delivery,price_range,currency,name,cuisines,location.address,location.city,user_rating.rating_text
0,1,3,Rs.,Hauz Khas Social,"Continental, American, Asian, North Indian","9-A & 12, Hauz Khas Village, New Delhi",New Delhi,Very Good
1,0,3,Rs.,Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...","C-7, Vishal Enclave, Opposite Metro Pillar 417...",New Delhi,Excellent
2,1,2,Rs.,The Hudson Cafe,"Cafe, Italian, Continental, Chinese","2524, 1st Floor, Hudson Lane, Delhi University...",New Delhi,Very Good
3,0,3,Rs.,Summer House Cafe,"Italian, Continental","1st Floor, DDA Shopping Complex, Aurobindo Pla...",New Delhi,Very Good
4,0,3,Rs.,38 Barracks,"North Indian, Italian, Asian, American","M-38, Outer Circle, Connaught Place, New Delhi",New Delhi,Very Good

In [7]:
df.head(25)

,has_online_delivery,price_range,currency,name,cuisines,location.address,location.city,user_rating.rating_text
0,1,3,Rs.,Hauz Khas Social,"Continental, American, Asian, North Indian","9-A & 12, Hauz Khas Village, New Delhi",New Delhi,Very Good
1,0,3,Rs.,Qubitos - The Terrace Cafe,"Thai, European, Mexican, North Indian, Chinese...","C-7, Vishal Enclave, Opposite Metro Pillar 417...",New Delhi,Excellent
2,1,2,Rs.,The Hudson Cafe,"Cafe, Italian, Continental, Chinese","2524, 1st Floor, Hudson Lane, Delhi University...",New Delhi,Very Good
3,0,3,Rs.,Summer House Cafe,"Italian, Continental","1st Floor, DDA Shopping Complex, Aurobindo Pla...",New Delhi,Very Good
4,0,3,Rs.,38 Barracks,"North Indian, Italian, Asian, American","M-38, Outer Circle, Connaught Place, New Delhi",New Delhi,Very Good
5,1,2,Rs.,Spezia Bistro,"Cafe, Continental, Chinese, Italian","2525, 1st Floor, Hudson Lane, Delhi University...",New Delhi,Excellent
6,0,4,Rs.,Manhattan Brewery & Bar Exchange,"Finger Food, American, Continental, North Indi...","1st Floor, Global Foyer Mall, Sector 43, Golf ...",Gurgaon,Excellent
7,0,4,Rs.,The Wine Company,"Italian, European","Cyber Hub, DLF Cyber City, Gurgaon",Gurgaon,Poor
8,0,4,Rs.,Farzi Cafe,Modern Indian,"38/39, Level 1, Block E , Inner Circle, Connau...",New Delhi,Very Good
9,1,3,Rs.,Indian Grill Room,"North Indian, Mughlai","315, 3rd Floor, Suncity Business Tower, Golf C...",Gurgaon,Excellent
10,0,2,Rs.,Cafeteria & Co.,"Continental, Mexican","G 14, Hudson Lane, Vijay Nagar, New Delhi",New Delhi,Excellent
11,0,4,Rs.,Farzi Cafe,Modern Indian,"7-8, Ground Floor, Cyber Hub, DLF Cyber City, ...",Gurgaon,Very Good
12,0,3,Rs.,Molecule Air Bar,"Continental, North Indian, Italian, Chinese","4th Floor, SCO 53, Main Market, Sector 29, Gur...",Gurgaon,Very Good
13,1,3,Rs.,HotMess,"North Indian, Mediterranean, Asian, Fast Food","M-11, Middle Circle, Connaught Place, New Delhi",New Delhi,Very Good
14,0,3,Rs.,My Bar Headquarters,"North Indian, Mughlai, Chinese","N-49, 2nd Floor, Connaught Place, New Delhi",New Delhi,Good
15,0,3,Rs.,FLYP@MTV,"North Indian, Mexican, Italian, Continental","N/57 & N/60, 1st Floor, Outer Circle, Connaugh...",New Delhi,Good
16,0,3,Rs.,Tamasha,"Finger Food, North Indian, Continental, Italian","28, Kasturba Gandhi Marg, Connaught Place, New...",New Delhi,Good
17,0,3,Rs.,The Barbeque Company,"North Indian, Chinese, Continental","HL 1-2, L Block, Jail Road, New Delhi",New Delhi,Very Good
18,1,2,Rs.,Saravana Bhavan,South Indian,"P-13, Connaught Circus, Connaught Place, New D...",New Delhi,Very Good
19,0,3,Rs.,Odeon Social,"Continental, American, Asian, North Indian","1st Floor, 23, Odeon Building, Radial 5, D Blo...",New Delhi,Very Good
20,0,3,Rs.,Spice Kraft,"Continental, Middle Eastern, Asian","54/1/2A, Hazra Road, Ballygunge Phari, Near Ha...",Kolkata,Excellent
21,1,3,Rs.,Hoppipola,"Italian, Mexican, American, Mediterranean","4th Floor, Acropolis Mall, 1858/1, Rajdanga Ma...",Kolkata,Very Good
22,0,3,Rs.,Barbeque Nation,"North Indian, Chinese","24, 1st Floor, Park Center Building, Park Stre...",Kolkata,Excellent
23,1,3,Rs.,Peter Cat,"Continental, North Indian","18A, Park Street, Park Street Area, Kolkata",Kolkata,Very Good
24,0,3,Rs.,Barbeque Nation,"North Indian, Chinese","K1, RDB Boulevard, Block EP & GP, Sector 5, Sa...",Kolkata,Excellent

Podemos ver también las filas del final con `tail`:

In [8]:
# Para ver los 5 últimos renglones del dataframe
df.tail(5)

,has_online_delivery,price_range,currency,name,cuisines,location.address,location.city,user_rating.rating_text
1175,0,3,£,The Boozy Cow,"Burger, Grill","17 Frederick Street, New Town, Edinburgh EH2 2EY",Edinburgh,Very Good
1176,0,3,£,La Favorita,Italian,"325-331 Leith Walk, Leith, Edinburgh EH6 8SA",Edinburgh,Excellent
1177,0,3,£,Roseleaf Bar Cafe,"Scottish, Cafe","23-24 Sandport Place, Leith, Edinburgh EH6 6EW",Edinburgh,Excellent
1178,0,3,£,Civerinos,"Pizza, Italian","5 Hunter Square, Royal Mile, Old Town, Edinbur...",Edinburgh,Good
1179,0,3,£,The Hanging Bat,American,"133 Lothian Road, Old Town, Edinburgh EH3 9AD",Edinburgh,Good

Podemos ver los `dtypes` de todas nuestras columnas accediendo a esa propiedad:

In [9]:
df.dtypes

has_online_delivery         int64
price_range                 int64
currency                   object
name                       object
cuisines                   object
location.address           object
location.city              object
user_rating.rating_text    object
dtype: object

También podemos usar la función `info` del DataFrame para ver más información sobre las columnas. Por ejemplo, el número de valores no nulos que hay en cada una.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1180 entries, 0 to 1179
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   has_online_delivery      1180 non-null   int64
 1   price_range              1180 non-null   int64
 2   currency                 1180 non-null   object
 3   name                     1180 non-null   object
 4   cuisines                 1180 non-null   object
 5   location.address         1180 non-null   object
 6   location.city            1180 non-null   object
 7   user_rating.rating_text  1180 non-null   object
dtypes: int64(2), object(6)
memory usage: 83.0+ KB

En caso de que tengamos tantas columnas que no podamos verlas todas en el preview de arriba, podemos acceder a una `lista` de columnas usando las propiedad `columns`:

In [10]:
df.columns

Index(['has_online_delivery', 'price_range', 'currency', 'name', 'cuisines',
       'location.address', 'location.city', 'user_rating.rating_text'],
      dtype='object')

Vamos a un Reto para que puedas practicar leer un conjunto de datos y hacer una exploración básica.